@import "tailwindcss";

@theme {
  --color-primary: #b3ff38;
  --color-primary-hover: #9ce622;
  --color-dark: #1a1a1a;
  --color-darker: #121212;
  --color-light: #f8f9fa;
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  transition: background-color 0.5s ease, color 0.5s ease;
}

html.dark body {
  background-color: var(--color-darker);
  color: var(--color-light);
}
